n8n/subworkflow-rerank.json
{
  "name": "RAG Retrieval con Reranking",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "string"
            }
          ]
        }
      },
      "id": "b1e1a001-0001-0001-0001-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v1/embed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { texts: [$json.query], model: \"embed-multilingual-v3.0\", input_type: \"search_query\" } }}",
        "options": {}
      },
      "id": "b1e1a001-0001-0001-0001-000000000002",
      "name": "Cohere Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "lGO7Wj34c5bjBKlM",
          "name": "Cohere Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/santo_pegasus_kb/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { vector: $json.embeddings[0], limit: 20, with_payload: true } }}",
        "options": {}
      },
      "id": "b1e1a001-0001-0001-0001-000000000003",
      "name": "Qdrant Search Top20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const points = $input.item.json.result;\nconst documents = points.map(p => p.payload.text);\nreturn [{\n  json: {\n    query: $('Execute Workflow Trigger').item.json.query,\n    documents,\n    points\n  }\n}];"
      },
      "id": "b1e1a001-0001-0001-0001-000000000004",
      "name": "Prep Rerank Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/rerank",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: \"rerank-v3.5\", query: $json.query, documents: $json.documents, top_n: 4 } }}",
        "options": {}
      },
      "id": "b1e1a001-0001-0001-0001-000000000005",
      "name": "Cohere Rerank",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "lGO7Wj34c5bjBKlM",
          "name": "Cohere Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rerankResults = $json.results;\nconst prep = $('Prep Rerank Docs').item.json;\nconst points = prep.points;\nconst top = rerankResults.slice(0, 4).map(r => points[r.index]);\nconst context = top.map(p => `[Fuente: ${p.payload.source}]\\n${p.payload.text}`).join('\\n\\n---\\n\\n');\nreturn [{ json: { output: context } }];"
      },
      "id": "b1e1a001-0001-0001-0001-000000000006",
      "name": "Format Final Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Cohere Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Embed Query": {
      "main": [
        [
          {
            "node": "Qdrant Search Top20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search Top20": {
      "main": [
        [
          {
            "node": "Prep Rerank Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Rerank Docs": {
      "main": [
        [
          {
            "node": "Cohere Rerank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Rerank": {
      "main": [
        [
          {
            "node": "Format Final Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}